.main .greet span{
    background: -webkit-linear-gradient(16deg, #4F82ED,#D46678);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.result::-webkit-scrollbar{
    display: none;
}

.loader{
    background: linear-gradient(to right, #4574D1, #171819, #4574D1);
    animation: loader 3s infinite linear;
    background-size: 800px 50px;
}

.loader2{
    background: linear-gradient(to right, #4574D1, #171819, #4574D1);
    animation: loader2 5s infinite linear;
    background-size: 800px 50px;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

@keyframes loader2 {
    0%{
        background-position: 800px 0px;
    }
    100%{
        background-position: -800px 0px;
    }
}

@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    .card{
        display: none;
    }
    .ico{
        display: none;
    }
}